<body>
    <main>
        <section class="main ">
            <div class="leftside">
                <div class="images">
                    <img src="assets/entretenimento/cantina.jpg " alt="Cantina ">
                    <img src="assets/entretenimento/casos.jpg" alt="casos ">
                    <img src="assets/entretenimento/pai.jpg " alt="pai ">
                </div>
            </div>

            <section class="text-rigthside">
                <div class="container ">
                    <div class="rigthside ">
                        <div class="inst-text ">
                            <br>
                            <h1>Banda da Cantina fala sobre turne.</h1>
                            <p>Banda da Cantina conta como foi reencontro após 13 anos separados
                            <strong>"Parece que foi ontem"</strong>. Comenta Jackson sobre o grupo que se reuni novamente. Veja a matéria no
                            <a href="han"><strong> HAN'SHOW</strong></a>  .
                            </p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rigthtside ">
                        <div class="inst-text ">
                            <h2>Big Brother edição-31975.</h2>
                            <p>Nesta edição os brothers serão exilados em Tatooine, lindo e desértico planeta com dois sóis lar dos fazendeiros de umidade,onde também ocorerá mais um Grande Premio de
                            <a href="racer"><strong> RACE'S</strong></a>  . Conheça os brothers que irão participar da nova edição. Em que o premio é a galaxia.
                            <strong>"Estamos em casa"</strong>, Diz Vader para Luck.</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rightside ">
                        <div class="inst-text ">
                            <h2>Casos de família.</h2>
                            <p>A apresentadora do Sitcom, Padmé conta a comovente historia de pai e filho que se reencontram depois de anos separados.<strong>"Achei o pai um pão"</strong>.Diz Padmé a nossa redação. Este menino foi muito minado pelos tios,eu
                            quando era criança tive que correr por minha liberdade.Comenta Vader sobre os caprichos de Luke.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>
