
.main{
    background-image: url("/assets/fundo/star.jpg");   
}
  
form {

    margin-left:auto;
    padding:100px 0px;
    width: 80%; 
}

form label .form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

label {
    color: #F5D41B;
    border:black;
    background: black;
}

legend {
    color: #F5D41B;
    border: black;
    background: black;
}
   
.input-padrao{
    display: block;
    margin: 0 0 14px;
    padding: 9px 16px;
    width: 60%;
}

.center-enviar{
    align-items: center;
}

.enviar {
    text-decoration: none;
    width: 60%; 
    color: #F5D41B;
    font-size: 18px;
    border: none;
    transition: 1s all;
    cursor: pointer;
    border-radius: 5px;
    background: black;
}

.enviar:hover {
    background: #81100c;
    transform: scale(1.2);
}