<body>
    <div>
        <main class="main">
            <form>
                <label for="nomesobrenome">Nome e sobrenome</label>
                <input class="input-padrao" type="text" id="nomesobrenome" required placeholder="nome e sobrenome">

                <label for="email">Email</label>
                <input class="input-padrao" type="email" id="email" required placeholder="seu e-mail@dominio.com">

                <label for="telefone">Telefone</label>
                <input class="input-padrao" type="tel" id="telefone" required placeholder="(XX) XXXXX-XXXX">

                <label for="mensagem">Como você prefere seu Porg?.</label><br>
                <ul>
                  <br>
                   <label for="radio-PET"><input type="radio" name="contato"value="PET"id= "pet">PET</label>
                   <label for="radio-PET"><input type="radio" name="contato"value="petisco"id="petisco"> PETISCO</label>
                </ul><br>
                <label for="mensagem">Escreva seu motivo.</label>
                <textarea class="input-padrao" cols="70" rows="10" id="mensagem" required></textarea>
                <div class="center-enviar">
                  <a class="enviar" href="obrigado">Enviar Resposta</a>
                </div>
            </form>
        </main>  
    </div>
</body>
