<nav class="navi">
    <div>
     <img class="logo" src="assets/satar-w.png" alt="logo_marca">
    </div>

    <ul class="nav-list">
        <li><a [routerLink]="['./home']">HOME</a></li>
        <li><a [routerLink]="['./noticias']">NOTÍCIAS</a></li>
        <li><a [routerLink]="['./esporte']">ESPORTE</a></li>
        <li><a [routerLink]="['./entretenimento']">ENTRETENIMENTO</a></li>
        <li><a [routerLink]="['./receitas']">RECEITAS</a></li>
        <li><a [routerLink]="['./han']">HAN'SHOW</a></li>
        <li><a [routerLink]="['./racer']">RACER'S</a></li>
        <li><a [routerLink]="['./eleicoes']">ELEIÇÕES</a></li>
        <li><a [routerLink]="['./masterchef']">MASTERCHEF</a></li>
        <li><a [routerLink]="['./programacao']">PROGRAMAÇÃO</a></li>
    </ul>
      
</nav>