.main {

    background-size: cover;
    margin-bottom: auto;
    display: flex;
}

.leftside {
    flex: 1;
}

.leftside .images {
    flex-direction: column;
    display: flex;
    width: 300px;
    height: 80px;
}

.images {
    margin-left: 80px;
    //padding: 10px;
    height: 200px;
}

.images img {
    padding: 23px
}

.images:first-child {
    padding-top: 50px;
}

.images:last-child {
    width: 80%;
}


/** SECTION TEXT**/

.text-rigthside {
    COLOR: #2C2E1C;
    flex-direction: column;
    display: flex;
    flex: 2;
}

.inst-text:first-child {
    padding: 60px;
}

.inst-text h1 {
    color: #F5D41B !important;
    text-align: justify;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
}

.inst-text h2 {
    color: #F5D41B !important;
    text-align: justify;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
}

.inst-text p {
    color: #F5D41B !important;
    text-align: justify;
    font-size: 17px;
    border-right:black;
    background: black;
}




/***Responsividade****/

@media(max-width:1100px) {
    .nav{
        display: flex;
    }
    .nav .body .images {
        padding: 0 20px;
    }
    .footer  {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:900px) {
    .leftside {
        flex-direction: column-reverse;
    }
    .leftside  {
        height: 100px;
        flex: none;
        background-size: auto 100%;
        background-position-x: center;
    }
  
}