
    <main>
        <section class="main">
            <div class="leftside">
                <div class="images">
                    <img src="assets/eleicoes/urna.jpg " alt="urna ">
                    <img src="assets/eleicoes/senado.jpg" alt="senado">
                    <img src="assets/hone/che.jpg" alt="voto">
                </div>
            </div>

            <section class="text-rigthside">
                <div class="container ">
                    <div class="rigthside ">
                        <div class="inst-text ">
                            <h1>Império contesta segurança.</h1>
                            <p>Hoje pela manhã o imperador Sheev Palpatine deu a seguinte declaração para o pessoal que o apoia no "cural" apelido carinhso dado pelo presidente aos seus apoiadores que ficam toda manhã aguadando seu pronunciamento . Questionado
                            sobre a segurança das urnas eletronicas ele fez a seguinte declaração <strong>"Tem que ver isso ai,ok"</strong>. O mintério gira em torno da pergunta que a oposição fez sobre as urnas "Ele foi eleito pelas mesmas urnas
                            que hoje ele declara não serem seguras". Quando questionado por um repoter sobre a declaração da oposição o presidente encerrou a entrevista e saiu sem fazer nenhum comentario.</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rigthtside ">
                        <div class="inst-text ">
                            <h2>Previas acaloradas.</h2>
                            <p>Candidato da situação Ben solo ex padawan de luke Skywallker candidato ao senado não participa de debate alegando probelmas familiares <strong> Meu pai não esta bem anda com dores abdominais e reclama de uma dor que atravessa o seu peito</strong>.
                            Já a rival Rey Skywallker alega que isso foi uma extratégia covarde do rival.</p>          
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rightside ">
                        <div class="inst-text ">
                            <h2>Rebelde no palanque.</h2>
                            <p>O ex gângster e hoje militante das forças rebeldes, Chewbacca fala de eleições livres e que o povo tem que lutar pela democracia e um governo mais justo.Falou também sobre a conciência do voto e sua importância, que os jovens
                            que estão aptos a votar que votem com responsabilidade. Após discurso nosso reporter perguntou quais as espectavivas sobre o sobrinho Lowbacca ter entrado para academia Jedi.</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>

