<body>
    <main>
        <section class="main ">
            <div class="leftside">
                <div class="images">
                    <img src="assets/masterchefff/yod.jpg " alt="yoda-cock">
                    <img src="assets/masterchefff/chefdark.jpg" alt="Jar-read">
                    <img src="assets/masterchefff/chefjab.jpg" alt="Jabba">
                </div>
            </div>

            <section class="text-rigthside">
                <div class="container ">
                    <div class="rigthside ">
                        <div class="inst-text ">
                            <br>
                            <h1>Simples e maravilhoso.</h1>
                            <p>Nosso amado mestre Yoda preparou uma iguaria simples mas muito famosa uma maravilhosa omelete. Simples e estremamente deliciosa comentou um dos jurados.<strong>"Eu fazer comida boa."</strong>,comentou Yoda logo após decisão
                                dos jurados ,Vencedor da etapa desta semana além da imunidade Yoda tambem ganhou um conjunto de facas profissionais.</p>

                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rigthtside ">
                        <div class="inst-text ">
                            <br>
                            <h2>Que delicia!.</h2>
                            <p> Agora só da ele Darth Vader ataca de chef de cozinha e surpreende a todos com uma receita bem exótica e diferente cabeça de Jar Jar Binks no vapor, quem provou a iguaria adorou. <strong> O miolo pequeno e sem sabor, mas a lingua é uma delicia</strong>.Sobre
                                o imcidente de Jabba Vader não quiz fazer comentarios.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rightside ">
                        <div class="inst-text ">
                            <br>
                            <h2>Fome de Rancor.</h2>
                            <p>O eliminado da semana passada Jabba Hutt comenta sobre atitude duvidosa com o juiz e renomado chef de cozinha Dexter Jettster, que após fazer duras criticas ao prato de Jabba o mesmo em um ataque de furia arranca um braço do
                                chef e come na frente do auditório <strong>"Ele tinha quatro braços,agora tem três". </strong> Comentou Jabba rindo.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>