<header>
  <nav class="navi">
    <div>
      <img class="logo" src="assets/satar-w.png" alt="logo_marca">
    </div>
    <ul class="nav-list">
      <li><a href="/">NOTÍCIAS</a></li>
      <li><a href="/">ESPORTE</a></li>
      <li><a href="/">ENTRETENIMENTO</a></li>
      <li><a href="/">RECEITAS</a></li>
      <li><a href="/">HAN'SHOW</a></li>
      <li><a href="/">POD-RACER'S</a></li>
      <li><a href="/">ELEIÇÕES</a></li>
      <li><a href="/">MASTERCHEF</a></li>
      <li><a href="/">PROGRAMAÇÃO</a></li>
    </ul>
  </nav>
</header>





<router-outlet></router-outlet>