
<body>
    <main>
        <section class="main ">
            <div class="leftside">
                <div class="images">
                    <img src="assets/promocao/star-wars-porgs.gif" alt="porg">
                    <img src="assets/promocao/boys.gif" alt="/ "><br><br><br>
                    <img src="assets/promocao/star-wars-visions.gif" alt="/ ">
                </div>
            </div>

            <section class="text-rigthside">
                <div class="container ">
                    <div class="rigthside ">
                        <div class="inst-text ">
                            <br><br><br><br>
                            <h1> Viagem com a STAR TOUR ao paradisíaco Anch-Tostrong.</h1>
                            <p>Responda a nossa enquete e concorra a uma viajem para você e toda a familia 
                                <a href="enquete">RESPONDER</a> .  Serão 10 dias nas paradiziacas ilhas do planeta azul Anch-Tostrong com um turmonitoradoe uma deliciosa tarde na casa onde o mestre jedi Luck Skywalker ficou exilado
                                por anos.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rigthtside ">
                        <div class="inst-text ">
                            <br><br><br><br><br>
                            <h2>New Trooper on the Block</h2>
                            <p>Isso mesmos preparem a garganta para cantar com eles NTB ,em sua nova turne por toda galáxia lembrando dos grandes sucessos como Please Don't Go Princess ,
                                <a href="https://www.youtube.com/watch?v=ay6GjmiJTPM">,<strong>Step By Step</strong></a> . Ai vai um presente da Banda, que gravou este clip sem os uniformes em um visual bem diferente. A banda ira divulgar a nova turne
                                na estreia do novo Big Brother.
                            </p>
                        </div>
                    </div>0
                </div>

                <div class="container ">
                    <div class="rightside ">
                        <div class="inst-text ">
                            <br><br><br><br><br><br>
                            <h2>Estréia nova programação.</h2>
                            <p>Estréia na semana que vem nova animação voltada para o publica adulto.è uma série de antologia que celebra as diferentes histórias e possibilidades. Com uma pega de anime ,cada episódio vemos uma lente sobre o universo com
                                perspectivas diferentes. </p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>