*{ 
    box-sizing: border-box;
    margin: -3px;
    padding: 0px;
}

/** SECTION IMAGES**/

.main {
    background-image: url("/assets/fundo/star.jpg");
    margin-bottom: auto;
    display: flex;
    transition: 'background-color' 300ms;
    box-shadow: #111811 10px 10px 20px 20px;
}

.leftside {
    flex: 1;
}

.leftside .images {
    flex-direction: column;
    display: flex;
    height: 80px;
}

.images {
    margin-left: 80px;
    padding: 10px;
    height: 200px;
}

.images img {
    padding: 23px;
}

.images:first-child {
    padding-top: 50px;
}

.images:last-child {
    width: 80%;
}


/** SECTION TEXT**/

.text-rigthside {
    COLOR: #2C2E1C;
    flex-direction: column;
    display: flex;
    flex: 2;
}

.inst-text:first-child {
    padding: 60px;
}

.inst-text h1 {
    color: #F5D41B !important;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
}

.inst-text h2 {
    color: #F5D41B !important;
    text-align: justify;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
}

.inst-text p {
    color: #F5D41B !important;
    text-align: justify;
}
