<body>
    <main>
        <header>
            <h1>Obrigado por participar</h1>
        </header>

        <section>
            <p>Fique de olho em seu e-mail e boa sorte.</p><br>
            <p>Receba as novidas por e-mail.</p>
            <br><br><br><br>
            <a class="volta" href="index.html">Voltar para Star New's</a>
        </section>
    </main>

    <footer>
        <section>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h1 class="copyright"> &copy; Copyright Daniel Alves da Rocha</h1>
        </section>
    </footer>
</body>
