<body class="body">
    <main>
        <section class="main ">
            <div class="leftside ">
                <div class="images ">
                    <img src="assets/noticias/Darth-Maul.jpg " alt="Darth-Maul">
                    <img src="assets/noticias/trooper.jpg " alt="estrela">
                    <img src="assets/noticias/estrela.jpg " alt="troopers">
                </div>
            </div>

            <section class="text-rigthside ">
                <div class="container ">
                    <div class="rigthside ">
                        <div class="inst-text ">
                            <h1>Rebelde bom é rebelde morto.</h1>
                            <p>Darth Mall fala que enquanto estiver a frente das tropas do Império não irar tolerar nenhum ato rebelde contra o Império.
                                <strong>"Agora somos nós contra eles "</strong>. Afirma mais novo comandande das forças de coalizão do império.</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rigthtside ">
                        <div class="inst-text ">
                            <h2>Brilha brilha estrelinha.</h2>
                            <p>A mais nova arma (de novo) do Império,a repaginada e melhorada nova estrela da morte. Especialistas afirmam que agora vai ,falha do antigo projetista foi retirada da nova estrela da morte.Existem suspeitas de super faturamento
                                da obra, procurado por nossa redação O dono da empreiteira
                                <strong>'L.C' Lando Calrissian</strong> ,não quis fazer nenhum comentários.</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rightside ">
                        <div class="inst-text ">
                            <h2>Meu pai é um Stormtrooper.</h2>
                            <p>Jairo que mora no palneta Corellia que foi o lar e local de nascimento do famigerado ex contrabandista e hoje General da Nova Republica Han Solo. Jairo em entrevista exclusiva para este canal diz que sua mãe foi enganada por
                                um Stormtrooper . Ele prometeu à mamãe uma vida de Léia. Jairo está desconsolado,hoje com 35 anos ainda tem esperança de encontrar o pai.<strong>"Ele ficava lindo de branco "</strong>.Diz dona Odete mãe de Jairo,sobre o
                                pai fujão.
                            </p>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>
