<body>
    <main>
        <section class="main ">
            <div class="leftside">
                <div class="images">
                    <img src="assets/receitas/leite.jpg " alt="leiteAzul">
                    <img src="assets/receitas/muphin.jpg" alt="muphin">
                    <img src="assets/receitas/porg-cert.jpg" alt="porg-cert">
                </div>
            </div>

            <section class="text-rigthside">
                <div class="container ">
                    <div class="rigthside ">
                        <div class="inst-text ">
                            <h1>Leite de Bantha.</h1>
                            <p>Aprenda a fazer queijos, manteiga, creme de leite e muito mais.Animal comum nos palnetas da orla exterior como Batuu,
                            Lah'mu,Lothal e Tatooine.Está linda criatura de areas deserticas é muito calma e não requer muitos cuidados
                            e provem muitos recursos . Na proxima semana iremos encinar como fazer a famosa e alcoólica Gelada de leiteAzul,
                            muito popular entre os povos do deserto.</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rigthtside ">
                        <div class="inst-text ">
                            <h2>Cupcacke de Chewbacca.</h2>
                            <p>Fácil de fazer,uma delicia você vai fazer o maior sucesso em casa, 
                            nas festinhas das crianças e até mesmo coma turma do império afinal que não quer tirar um pedaço deste rebelde.</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rightside ">
                        <div class="inst-text ">
                            <h2>Porg. Mascote ou comida?.</h2>
                            <p>Porgs uma espécie de ave marinha ,nativa do planeta Anch-To. Algo bem polêmico gira em torno desteas aves marinhas ,
                            seriam pets ou um delicioso petisco. Pensando nisso a <strong>star tour</strong> junto com a <strong>star news </strong>criaram
                            um concurso. Basta responder a enquete que você encontra em nossa  <a href=" programacao">PROGRAMAÇÃO</a> , e concorra a uma viagem para
                            <strong>Anch-Tostrong </strong>Um planeta lindo coberto de água salpicado com paradisíacas ilhas,saiba mais no link a cima.</p>                           
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>
