<body>
    <main>
        <section class="main ">
            <div class="leftside ">
                <div class="images ">
                    <img src="assets/podrace/inm.jpg " alt="Tattoine">
                    <img src="assets/podrace/O-Povo.jpg " alt="Povo-sand">
                    <img src="assets/podrace/pod.jpg " alt="pod-racer">
                </div>
            </div>

            <section class="text-rigthside ">
                <div class="container ">
                    <div class="rigthside ">
                        <div class="inst-text ">
                            <br>
                            <h1>Tatooine recebe grande premino de Pod Race.</h1>
                            <p>Não perca neste fim de semana mais um grande premio de Tatooine com a presença do Lord e ex participante do programa Master Chef Jabba the Hult dando a largarda do grande premio de Tattoine.</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rigthtside ">
                        <div class="inst-text ">
                            <h2>Tensão na reta da morte.</h2>
                            <p>Povo da areiada já declarou que o deserto "o deserto é nosso e não vamos tolerar
                            corridas".A organização da corrida informou aos participantes para terem cuidado redobrado
                            na reta que cruza o território da tribo. Comenta lider "Vai ser uma corrida cheia de emoções"  Não percam a corrida .</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rightside ">
                        <div class="inst-text ">
                            <h2>Estréia.</h2>
                            <p>Nova equipe de pod estréia no premio de Tatooine o chefe da equipe J-R falou com a nossa reportagem. 
                            Estamos muitos animados com a corrida.Não poderiamos estreiar em outra corrida ,afinal é Tattoine o circuito mais importante
                            do campeonato.</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>