*{ 
    box-sizing: border-box;
    margin: -3px;
    padding: 0px;
}

.main {
    background-image: url("/assets/fundo/star.jpg");   
    width: auto;
    margin-bottom: auto;
    display: flex;
    transition: 'background-color' 300ms;
}

.leftside {
    flex: 1;
}

.leftside .images {
    flex-direction: column;
    display: flex;
    width: 300px;
}

.images {
    margin-left: 80px;
    width: 10px;
    padding: 10px;
}

.images img {
    padding: 23px;
}

.images:first-child {
    padding-top: 50px;
}


/** SECTION TEXT**/

.text-rigthside {
    flex-direction: column;
    display: flex;
    flex: 2;
}

.inst-text:first-child {
    padding: 60px;
}

.inst-text h1 {
    padding: 20px;
    font-family: Andale Mono, monospace;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    height: auto;
    color: #F5D41B !important;
    transform: perspective(300px) rotateX(25deg);
    text-align: justify;
    position: relative;
    overflow: initial;
    /*voltar aqui*/
}

.inst-text h2 {
    font-family: Andale Mono, monospace;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    height: auto;
    color: #F5D41B !important;
    transform: perspective(300px) rotateX(25deg);
    text-align: justify;
}

.inst-text p {
    color: #F5D41B !important;
    transform: perspective(300px) rotateX(25deg);
    text-align: justify;
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
}

strong {
    color: #F5D41B;
}
