<nav></nav>
<body class="body">
    <main>
        <section class="main ">
            <div class="leftside ">
                <div class="images ">
                    <img src="assets/hone/cap.jpg " alt="capacete">
                    <img src="assets/hone/che.jpg " alt="voto">
                    <img src="assets/hone/porgs.jpg " alt="Porc">
                </div>
            </div>

            <section class="text-rigthside ">
                <div class="container ">
                    <div class="rigthside ">
                        <div class="inst-text ">
                            <br><br>
                            <h1>Star Wars Visions estreia.</h1>
                            <p>Veja em nossa
                                <a href="programacao"><strong>PROGRAMAÇÃO</strong></a> nova série .</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rigthtside ">
                        <div class="inst-text ">
                            <br><br>
                            <h2>Eleições</h2>
                            <p>Discurso acalorado sobre responsabilida ao votar leia mais em
                                <a href="eleicoes"><strong>ELEIÇÕES</strong></a> e seja o ponto de vista de Chewie.</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rightside ">
                        <div class="inst-text ">
                            <h2>Promoção da Star Tour.</h2>
                            <p>Chegou mais uma promoção Star Tour junto com a Star New's viagem para Anch-Tostrong,veja reportagem em nosso canal de receitas
                                <a href="receitas"><strong>RECEITAS</strong></a> e saiba mais sobe a promoção e como participar.</p>

                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>

