<body>
    <main>
        <section class="main ">
            <div class="leftside">
                <div class="images">
                    <img src="assets/esporte/bef1.jpg " alt="beisibol">
                    <img src="assets/esporte/01.jpg" alt="futebo">
                    <img src="assets/esporte/m1.jpg " alt="rebatida">
                </div>
            </div>

            <section class="text-rigthside">
                <div class="container ">
                    <div class="rigthside ">
                        <div class="inst-text ">
                            <br><br>
                            <h1>Beisebol Dharth Vader faz arremesso.</h1>
                            <p> Na tarde de ontem Darth Vader fez o lançamento inicial da temporara MCMLXXVIII de beisibol.O império vem demonstrando interese em esportes de verão<strong>"O imperador me pediu para que manerace na força"</strong>.Comentou
                            Lord Vader.</p>                            
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rigthtside ">
                        <div class="inst-text ">
                            <h2>Kylo Ren homenageia vitimas de Ilum.</h2>
                            <p>Na semi final da Star Champions League Kylo Ren foi ao estádio do New Ordem no planeta Tython, Ren fez um discurso comovente,falou sobre as vitmas e suas familias,lembrou também da Capitã da primeira ordem Phamas que ainda
                            está desaparecida.</p>
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rightside ">
                        <div class="inst-text ">
                            <h2>Mais uma de Vader.</h2>
                            <p>Em campeonato indor Dharth Vader destrói o teto do ginasio.<strong>"I have a bad feeling about this"</strong>.Diz Stormtrooper apõs rebatida espetacular de Vader,provocando gargalhasdas entre todos da platéia,infelizmente o
                                trooper N°A382k77 quem fez a brincadeira com o Lord Vader sufucou misteriosamente momentos depois.</p>
                            <br>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>
