<body>
    <Main>
        <section class="main ">
            <div class="leftside">
                <div class="images">
                    <img src="assets/hanshow/coll.jpg " alt="hans">
                    <img src="assets/hanshow/han1.jpg" alt="carbonita">
                    <img src="assets/hanshow/o_livro.jpg" alt="boba">
                </div>
            </div>

            <section class="text-rigthside">
                <div class="container ">
                    <div class="rigthside ">
                        <div class="inst-text ">
                            <h1>No telefone com Han Solo.</h1>
                            <p>No <strong>telefono com o Han Solo</strong> de hoje. Nosso apresentador conversa com Jabba de Hult,
                            e pergunta o que aconteceu no                                
                            <a href="masterchef"> MASTERCHEF</a> e o que ele pretende fazer agora, depois da sua eliminação.</p>                           
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rigthtside ">
                        <div class="inst-text ">
                            <br>
                            <h2>Entrando em uma fria.</h2>
                            <p>Han conversa com o                        
                            <strong>Grupo da Cantina</strong> e o que levou o grupo a se reunir depois de treze anos sem gravar,
                            o grupo relembra do inicio e como era tudo mais simples,até o estrondoso sucessoas, brigas, excessos, vaidades, escandalos,falam
                            também sobre a trágica perda de Jhonas que foi devorado por um Rancor.</p>                           
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="rightside ">
                        <div class="inst-text ">                           
                            <h2>Entrevista.</h2>
                            <p>Não perca a entrevista de Boba Fett. Onde conta alguns detalhes sobre seu novo livro, muito criticado pelos especialistas <strong>"Eu sou um caçador de recompensas, não sou um escritor!"</strong>. Desabafa Boba no programa</p>
                            <br>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </Main>
</body>
